attrs==17.4.0
click==6.7
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pluggy==0.6.0
prettytable==0.7.2
psycopg2==2.7.4
py==1.5.2
pytest==3.4.1
six==1.11.0
SQLAlchemy==1.2.4
texttable==1.2.1
Werkzeug==0.14.1
